.bootstrap-timepicker{position:relative;&.pull-right{.bootstrap-timepicker-widget{&.dropdown-menu{left:auto;right:0;&:before{left:auto;right:12px}&:after{left:auto;right:13px}}}}.input-group-addon{cursor:pointer;i{display:inline-block;width:16px;height:16px}}}.bootstrap-timepicker-widget{position:absolute;margin-top:20px;opacity:0;transition:margin .3s,opacity .3s;&.dropdown-menu{&.open{display:inline-block}}table{width:100%;margin:0;border:0;background:$c-dark-yellow;tr{background:$c-dark-yellow}td{text-align:center;height:30px;margin:0;padding:2px;&:not(.separator){min-width:30px}span{width:100%}a{border:1px transparent solid;width:100%;display:inline-block;margin:0;padding:8px 0;outline:0;color:$c-white;&:hover{text-decoration:none;background-color:lighten($c-dark-yellow,10)}i{margin-top:2px;font-size:18px}}input{width:26px;border:1px solid $c-gray-select-border;padding:0;margin:0;text-align:center}}}}.bootstrap-timepicker-widget .modal-content{padding:4px}@media(min-width:641px){.bootstrap-timepicker-widget.modal{width:200px;margin-left:-100px}}@media(max-width:641px){.bootstrap-timepicker{width:100%;.dropdown-menu{width:100%}}}
.datepicker{direction:ltr}.datepicker-inline{width:220px}.datepicker-rtl{direction:rtl}.datepicker-rtl table tr td span{float:right}.datepicker-dropdown{position:absolute;top:0;left:0}.datepicker-dropdown .prev.disabled{pointer-events:none}.datepicker-dropdown .prev.disabled>*{opacity:.3}@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none){.datepicker-dropdown .prev.disabled>*{opacity:1}}.datepicker-dropdown .decade.new,.datepicker-dropdown .decade.old,.datepicker-dropdown .century.new,.datepicker-dropdown .century.old,.datepicker-dropdown .year.new,.datepicker-dropdown .year.old{color:initial}.datepicker-dropdown .decade.new.disabled,.datepicker-dropdown .decade.old.disabled,.datepicker-dropdown .century.new.disabled,.datepicker-dropdown .century.old.disabled,.datepicker-dropdown .year.new.disabled,.datepicker-dropdown .year.old.disabled{color:#ececec}.datepicker-dropdown .decade.new.active,.datepicker-dropdown .century.new.active,.datepicker-dropdown .year.new.active{color:#fff}.datepicker-dropdown .day.old.disabled{color:initial}.datepicker>div{display:none;border-bottom:1px solid #c1c1c1}.datepicker table{margin:0;user-select:none;border:0}.datepicker table th{background:#ea8c00;color:#fff}.datepicker table tbody{border:1px solid #c1c1c1;border-top:0;border-bottom:0}.datepicker td,.datepicker th{text-align:center;padding:9px 5px;border:0;font-weight:normal;background:#fff}.datepicker table tr td.day:hover,.datepicker table tr td.day.focused{background:#f90;cursor:pointer;color:#fff}.datepicker table tr td.disabled,.datepicker table tr td.disabled:hover{background:0;color:#ececec;cursor:default}.datepicker table tr td.highlighted{color:#9a9b9c}.datepicker table tr td.old,.datepicker table tr td.new{color:#ececec}.datepicker table tr td.today,.datepicker table tr td.today:hover,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled:hover{background:#ececec}.datepicker table tr td.today:hover:hover{color:#fff;background:#f90}.datepicker table tr td.today.active:hover{color:#fff}.datepicker table tr td.range:hover,.datepicker table tr td.range.disabled,.datepicker table tr td.range.disabled:hover{background:#ececec}.datepicker table tr td.range.today,.datepicker table tr td.range.today:hover,.datepicker table tr td.range.today.disabled,.datepicker table tr td.range.today.disabled:hover{background:#ececec}.datepicker table tr td.selected,.datepicker table tr td.selected:hover,.datepicker table tr td.selected.disabled,.datepicker table tr td.selected.disabled:hover{background:#f90;color:#fff}.datepicker table tr td.active,.datepicker table tr td.active:hover,.datepicker table tr td.active.disabled,.datepicker table tr td.active.disabled:hover{background:#f90;color:#fff}.datepicker table tr td span{display:block;width:23%;height:54px;line-height:54px;float:left;margin:1%;cursor:pointer}.datepicker table tr td span:hover,.datepicker table tr td span.focused{background:#f90;color:#fff}.datepicker table tr td span.disabled,.datepicker table tr td span.disabled:hover{background:0;color:#ececec;cursor:default}.datepicker table tr td span.active,.datepicker table tr td span.active:hover,.datepicker table tr td span.active.disabled,.datepicker table tr td span.active.disabled:hover{background:#f90;color:#fff}.datepicker table tr td span.old,.datepicker table tr td span.new{color:#ececec}.datepicker .datepicker-switch{width:145px}.datepicker .datepicker-switch,.datepicker .prev,.datepicker .next,.datepicker tfoot tr th{cursor:pointer;background:#f90;transition:background .4s ease}.datepicker .datepicker-switch:hover,.datepicker .prev:hover,.datepicker .next:hover,.datepicker tfoot tr th:hover{background:#ffad33}.datepicker .prev .disabled,.datepicker .next .disabled{visibility:hidden}.datepicker .cw{font-size:10px;width:12px;padding:0 2px 0 5px;vertical-align:middle}
.backgroundred
{
	color:#FF0000!important
} 
.login-history .format-table{
    display: table; width: 100%;
}
.login-history .format-table-cell{
    display: table-cell; vertical-align: middle; float:none !important;
}
.device-img img{
    max-width:50px; height:auto;
} 

.card-slider-container {
	margin-top: 1px;
	position: relative;
	display: none;
}

.card-slider-container .overlay {
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 5%,
		transparent 50%, rgba(255, 255, 255, 0.8) 95%);
	z-index: 700;
	position: absolute;
	left: 0;
	top: 0;
}

@media screen and (max-width: 600px) {
	.card-slider-container .overlay {
		display: none;
	}
}

.card-slider-container p {
	color: #9a9b9c;
	padding-top: 10px;
	z-index: 900;
}

.card-slider-container .prev, .card-slider-container .next {
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	cursor: pointer;
	color: #fc4c02;
	z-index: 900;
}

.card-slider-container .prev {
	left: 0;
}

.card-slider-container .next {
	right: 0;
}

.card-slider-container .cards-slider {
	width: 90%;
	overflow-y: hidden;
	margin: 0 auto;
}

.card-slider-container .cards-slider li {
	display: inline-block;
	/* border-right: 1px solid #cccccc; */
	width: 25%;
}

@media screen and (max-width: 600px) {
	.card-slider-container .cards-slider li {
		border: 0;
	}
}

.card-slider-container .cards-slider .cards-container {
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 10px;
	display: table;
}

.card-slider-container .cards-slider .cards-container img {
	display: table-cell;
    max-width: 60px;
    vertical-align: middle;
}

.card-slider-container .cards-slider .cards-container p {
	color: #9a9b9c;
	padding-top: 10px;
}

.card-slider-container .cards-slider .cards-container a {
    display: table-cell;
    vertical-align: middle;
	font-size: 15px;
}

.card-slider-container .cards-slider .slick-list .slick-track {
	margin: auto !important;
}

.border-bottom, .border-style, .border-top, .border-top-bottom-details {
    margin-bottom: 20px;
    padding: 25px 0;
    border-width: 1px 0 1px;
    border-color: #f0f0f0;
    border-style: solid;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.suppl-cards-order a {
    font-size: 15px !important;    
}

/* Balance conversion css */

.btn-bubble{
    background: rgba(255, 255, 255, 1);
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 4px;
    position: absolute;
    text-align: center;
    top: -5px;
    animation: float 2s ease-in-out infinite;
    animation-iteration-count: 3;
    -webkit-animation-iteration-count: 3; 
    line-height: 1;
    opacity: 0.9;
    max-width: 170px;
    margin: 0 auto;
}
.btn-bubble a{
    color: #ff9900 !important;
    display: block;
}
.arrow-box {
    position: relative;
    background: #fff;
    border: 4px solid #FFF;
}
.arrow-box:after, .arrow-box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow-box:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}
.arrow_box:before {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #FFF;
    border-width: 10px;
    margin-left: -10px;
}
@keyframes float {
    0% {
        
        transform: translatey(0px);
    }
    50% {
        
        transform: translatey(-5px);
    }
    100% {
        
        transform: translatey(0px);
    }
}

/*-- Download Mobile App --*/
.without-menu{
	padding: 30px 0;
}
.download-app-holder{
    width: 370px; min-height: 120px; padding: 0; position: absolute; top:9px; right:10px;
}
.download-app-holder:after {
    content: "";
    display: table;
    clear: both;
}
.download-app-container{
    float: right; color: #fff; display:table; position:static;
}
.download-app-container .text-label{
    display:table-cell; vertical-align: middle; max-width: 150px; padding-right: 10px; margin-right: 10px; border-right: 1px solid rgba(255, 255, 255, .3);
}
.download-app-container .text-label h3{
    font-size: 15px; text-align: left;
}
.download-app-container .buttons-holder{
    display:table; vertical-align: middle; padding-left: 13px;
}
.download-app-container .buttons-holder .btn-wrap{
    display: table-cell; padding-right: 10px; vertical-align: middle;
}
.download-app-container .buttons-holder .qr-code-wrap{
    display: table-cell; padding: 0; background:#fff; vertical-align: middle;
}
.download-app-container .buttons-holder .qr-code-wrap img{
    width: 86px; height: auto;
}
.download-app-container .buttons-holder .download-btn{
    display: block; width: 100px; height: 31px; padding:0; padding-right: 0; border: 1px solid rgba(255, 255, 255, .4); border-radius: 4px; font-size:13px; color: #fff; position: relative;
}
.download-app-container .buttons-holder .download-btn:hover{
    border: 1px solid #ff9900;
}
.download-app-container .buttons-holder .download-btn:first-child{
    margin-bottom: 5px; 
}
.download-app-container .buttons-holder .download-btn.apple-store{
	background: /*savepage-url=../img/apple-store.png*/ var(--savepage-url-10) center no-repeat; background-size: 100% auto;
}
.download-app-container .buttons-holder .download-btn.google-play{
	background: /*savepage-url=../img/google-play.png*/ var(--savepage-url-11) center no-repeat; background-size: 100% auto;
}
.download-app-container .buttons-holder .download-btn i{
    display:inline-block; width:22px; height:22px; position: absolute; top:4px; right:4px; 
}
.download-app-container .buttons-holder .download-btn .ios {
    background: /*savepage-url=../img/icon-apple.svg*/ url() center no-repeat; background-size: 100% auto;
}
.download-app-container .buttons-holder .download-btn .android {
    margin-bottom: 10px; background: /*savepage-url=../img/icon-android.svg*/ url() center no-repeat; background-size: 100% auto;
}
/*@media(max-width: 1360px){
    .download-app-container{
        top:20px;
    }
}
@media(max-width: 640px){
    .download-app-container{
        position: static; display: block; float: none; padding-right:0;
    }
    .download-app-container .text-label{
        display: block; max-width: 100%; border-right:none; margin-bottom: 20px; margin-right: 0;
    }
    .download-app-container .text-label h3{ 
        font-size: 1.125rem; text-align: left;
    }
    .download-app-container .buttons-holder{
        display:block; padding-left: 0;
    }
    
}*/

@media (max-device-width: 1024px){
	.download-app-holder{width: 140px; min-height: auto; top: 12px;}
	.download-app-container .text-label{display: table-row; padding-right: 0; margin-right: 0;}
	.download-app-container .text-label h3{margin-bottom: 7px; text-align: center;}
	.download-app-container .buttons-holder{width: 100%; text-align: center;}
	.download-app-container .buttons-holder .download-btn{text-indent: -9999px; display: inline-block; width:30px; height: 30px; border: none; border-radius: 0; }
	.download-app-container .buttons-holder .download-btn.apple-store{
		background: /*savepage-url=../img/apple-store-mobile.png*/ url() left no-repeat; background-size: auto 100%; width: 40px; margin-right: 15px;
	}
	.download-app-container .buttons-holder .download-btn.google-play{
		background: /*savepage-url=../img/google-play-mobile.png*/ url() left no-repeat; background-size: auto 100%;
	}
	.download-app-container .buttons-holder .download-btn:first-child{border-right: 1px solid rgba(255,255,255, .5); margin-bottom: 0;}
	.download-app-container .buttons-holder .download-btn i{width: 30px; height:30px; top: 0; right: 10px;}
	.download-app-container .buttons-holder .download-btn .android{margin-bottom: 0;}
	.download-app-container .buttons-holder .btn-wrap{padding-right: 0;}
	.download-app-container .buttons-holder .qr-code-wrap{display: none;}
}
@media(max-width: 680px){
	.download-app-holder{width: 100px; top: 7px; right: 5px;}
    .download-app-container .text-label h3{font-size: .7rem} 
    .without-menu{padding:20px 0}
    .without-menu img{height:40px;}
    .download-app-container .buttons-holder .download-btn{width: 26px; height: 26px;}
    .download-app-container .buttons-holder .download-btn.apple-store{width: 31px; margin-right: 10px;}
    .download-app-container .buttons-holder .download-btn i{width: 26px; height:26px; right: 8px;}
}
@media(max-width: 360px){
	.without-menu img{height:30px;}
}

.rounded-button{
    position: relative;
}

.rounded-button.small{
    padding: 12px 5px;
}

.rounded-button .force-fileUploadRoundButton{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
}
.rounded-button .icon-v-upload{
	font-size: 45px;
    margin-top: -5px;
}

.incremental-deposit-margin {
    margin: 0 -.9375rem !important;
}
.goal-app__flexi-deposit .loan-app__calc-wrapper .text {
    -webkit-transform: translate(0, calc(100% + 64px));
    transform: translate(0, calc(100% + 64px));
}
@media(max-width: 640px){
    .goal-app__flexi-deposit .loan-app__calc-wrapper .text{
        transform: none;
    }
}
.label-topic{padding: 0 15px;}
body.body-full-height-ie{height: auto !important}
body > div.body-full-height-ie{height: 100% !important; flex: 1;} 
.bg-white-graph{background-color: #fff !important}
.note-on-graph{display: block; font-size: 12px; text-align: left; padding-top: 10px; font-weight: bold; margin-bottom: 0;}
.padding-top-0{padding-top: 0;}

/*-- Dashboard Space Fixes Starts--*/
@media (min-width: 641px){
	.dbSpaceFix .offer-banner-wrapper{
		margin-top:0; margin-bottom:20px;
	}
	.dbSpaceFix .spendings-overview{
		padding: .2rem 0 0;
	}
	.dbSpaceFix .chart-balance{
		margin-bottom:10px;
	}
	.dbSpaceFix hr{
		    margin: .6rem 0 .6rem;
	}
	.dbSpaceFix .icon-bar-chart{
		font-size:22px;
	}
	.dbSpaceFix .mainPageTransfer, .dbSpaceFix .savings-overview, .dbSpaceFix .save-for__block{
		margin-bottom: 2rem;
	}
	.dbSpaceFix .spendings-overview h2.section-title{
		margin-bottom: .2rem;
	}
	.dbSpaceFix .container-statement-select{
		margin: .2rem 0 1.55rem 0;
	}
	.dbSpaceFix .force-section-title-sub{
		margin-top: 0!important; bottom:0 !important; margin-bottom:0 !important;
	}
	.dbSpaceFix .force-section-title-sub-acntnum{
		margin-top: 0!important; bottom:0 !important; margin-bottom:0 !important;
	}
	.dbSpaceFix .view-360{
		margin-bottom: 2rem;
	}
	
	.dbSpaceFix .account-header{
		padding: 10px 0;
	}
	.dbSpaceFix .account-header .current-account-image .card-image{
		width: 150px;
	}
	.dbSpaceFix .amount-description.small.loan{
		margin:0;
	}
	.dbSpaceFix  .form.outer{
		margin-top:10px;
	}
	.dbSpaceFix .buttons-row-component.mt20{
		margin-top: 0 !important;
	}
	.dbSpaceFix .buttons-row-component.mb20{
		margin-bottom: 0 !important;
	}
	.dbSpaceFix  .balance.auto-loan{
		margin-bottom: 5px;
	}
	.credentials-embossed .content .number{
		font-size: 8px; margin-bottom: 3px;
	}
	.credentials-embossed .content{
		bottom:12px; font-size: 8px;
	}
}
@media (max-width: 640px){
	.dbSpaceFix .spendings-overview{
		padding: 1rem 0 1rem; 
	}
}

/*-- Dashboard Space Fixes Ends--*/

.equal-height-element {
	display: flex;
    flex-wrap: wrap;
}

.offer-banner-dashboard{
	background-image: none;
}

.view-360 .accounts-overview .account-card{
	width:16.66%
}
@media (max-width: 1024px){
	.view-360 .accounts-overview .account-card{
		width:33.33% 
	}
}
@media (max-width: 600px){
	.view-360 .accounts-overview .account-card{
		width:100% 
	}
}

/*-- Activate Smart Pass --*/
.activate-smart-pass{
    display: flex; background: #b7ffb7; padding: 10px 10px 10px 5px; min-height: 60px;
}
.activate-smart-pass.error{
	background-color: rgb(252, 76, 2);
}
.activate-smart-pass .icon{
    flex: 0 0 50px; background: /*savepage-url=../img/sp-logo-green.png*/ url() center no-repeat; background-size: auto 95%; margin-right:5px;
}
.activate-smart-pass.error .icon{
	background: /*savepage-url=../img/sp-logo.png*/ url() center no-repeat; background-size: auto 95%;
}
.activate-smart-pass p{
    color: #39c170; text-align: left; margin:0; display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;font-size: .8rem;
}
.activate-smart-pass p span{
    display: contents; font-weight: bold;
}
.activate-smart-pass.error p{
	color:#ffffff;
}

/*-- Top Notifications - START--*/
.top-notification.sm-pass{
    display: flex;   
    z-index: 8001;
	background-color: rgb(46, 201, 134);
	padding: 0px 0px 0px 0px;
   	height: auto;
}
.top-notification.sm-pass.error{
	background-color: rgb(252, 76, 2);
}
.top-notification .display-flex{
	display: flex;
}
.top-notification.sm-pass .icon-bar.smart-pass {
    flex: 0 0 80px;
    background: #009f46 /*savepage-url=../img/sp-logo.png*/ url() center no-repeat;
    background-size: 60% auto;    
}
.top-notification.sm-pass.error .icon-bar.smart-pass{
	background-color: #ed1a23;
}
.top-notification.sm-pass.error .icon-bar.smart-pass:after{
	border-left-color: #ed1a23;
}
.top-notification.sm-pass .btn{
    padding:7px 10px;
    white-space: nowrap;
    margin-left: 20px;
    background: #f90;
}
.top-notification.sm-pass .info-bar {
    padding-top:10px; 
    padding-bottom: 10px;
    padding-right: 180px;
    width: 100%;
    flex: 1;
}
.top-notification.sm-pass .info-bar .content{
	width: 100%;
	padding-right: 20px;
}
.top-notification.sm-pass .info-bar .content a{
	background: none; color: #ffffff; margin-left: 0;
}
.top-notification.sm-pass .desktopOnly{
    display: none;
}
.top-notification.sm-pass .mobileOnly{
    display: none;
}
.top-notification.sm-pass .deskView .desktopOnly{
    display: inline;
}
.top-notification.sm-pass .mobView .mobileOnly{
    display: inline;
}

.top-notification .icon-bar:after { 
	border-left-color: #009f46
}

.top-notification.sm-pass #smartpassnotification{
	position:relative;
	width:100%;
}

.top-notification.sm-pass #smartpassnotification .smart-pass-button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-15px);
}
.top-notification.sm-pass.error #smartpassnotification .smart-pass-button {
	background-color:#ffffff;
	color: rgb(252, 76, 2);
	font-weight: bold;
}
@media(min-width: 1025px){  
    .top-notification.sm-pass .qr-code-holder{
        display: inline-block;
        background: #fff;
        width: 100px;
        padding: 0;
    }
    .top-notification.sm-pass .icon-bar.smart-pass{
        flex: 0 0 100px;
        background-color: #009f46;
    }
}
@media(max-width: 1024px){
    .top-notification.sm-pass .qr-code-holder{
        display: none;
    }
    .top-notification.sm-pass .info-bar .content{
		padding-right: 0;
	}
}
@media(max-width: 640px){
    .top-notification.sm-pass .info-bar{
        padding: 8px 10px 50px 25px;
    }
    .top-notification.sm-pass .info-bar div{
        width: auto;
    }
    .top-notification.sm-pass .btn{
        margin-left: 0;
        margin-top: 10px;
    }
    .top-notification.sm-pass #smartpassnotification .smart-pass-button{
    	top: auto;
	    bottom: 10px;
	    right: auto;
	    left: 104px;
	    margin: 0;
	    transform: none;
    }
}

/*-- Top Notifications - END --*/

.horizontal-center{
	margin: 0 auto !important;
}
.horizontal-center-wrap .force-max-width-auth-code-panel{
	margin: 0 auto !important;
}
.horizontal-center-wrap .force-max-width-auth-code-panel .sms-confirm .sms-code{
	padding: 10px 0 30px;
}

/*-- Top Notifications - END --*/
.grid-style-1{
	text-align: center;
	margin-bottom:15px;
}

.grid-style-1 .icon{
	display:block;
	margin-bottom:5px;
}

.grid-style-1 .icon img{
	max-height: 60px;
	width: auto;
}

.grid-style-1 p{
	color:#182f7c;
	font-size: 15px;
}

.rewards-poc-style {
	width: 50px;
	display: inline-block;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.bg-gray-important{
	background-color:  #ececec !important;
}

/*-- Flex Properties --*/
.flex-wrap{
	display: flex;
}
.flex-wrap .flex-col{
	flex:1 
}
.flex-wrap .flex-col.col-sm{
	flex-grow: 0;
  	flex-shrink: 0;
	flex-basis: 100px;
}
@media(max-width: 640px){
	.flex-wrap .flex-col.col-sm{
		flex-basis: 130px;
	}
}

.savings-deposit .popup-container{
	margin-top: 0;
}

.readonly-text{
	    color: #808080 !important;	
}

.icon-v-upload:before {
	content:"\e9a8";position : absolute; top:5px; left: 23px; font-size: 42px; font-family: emirates-nbd-icons!important;
}
.rounded-button .icon-v-upload {
	font-size: 15px; margin-top: 0; padding-top: 38px; font-family: "Frutiger LT 45 Light","Roboto Light",sans-serif !important;
}
.upload_steps_holder {
	position:relative; background: #0af91385; border-radius: 5px; padding: 8px;  margin-top: 10px; margin-bottom: 10px;
}
.upload_steps_holder:after{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #0af91385;
	border-width: 10px;
	margin-left: -10px;
}
ul.upload-steps{
	text-align: center; margin: 0; padding: 0;
}
ul.upload-steps li{
	display: inline-block; font-size: 14px;
}
/* Added for security update */

.login-page__v2 .login-security_update.blurred {
	background: rgba(255, 256, 255, .8);
	border-radius: 15px 0 0 15px;
	position: absolute;
	right: 0;
	width: 49%;
	height: 62%
}

.login-page__v2 .login-security_update_desc {
	font-size: 42px;
	color: #FF0000 !important;
	width: 100%
}

.login-page__v2 .login-security_update_content {
	font-size: 16px;
	color: #000000 !important;
}


.enbd-login-security-btn {
	margin: 5px 0;
	padding: 10px 20px;
	font-size: 16px;
	line-height: 1;
	font-family: "Frutiger LT 45 Light", "Roboto Light", sans-serif;
	color: #fff;
	border: none;
	border-radius: 4px;
	text-align: center;
	background-color: #19317a;
	transition: all .25s ease-in;
	z-index: 10;
	-webkit-tap-highlight-color: transparent;
}

.enbd-login-security-btn:hover{
	
	color: #ffffff ;
	
}



.login-page__v2 .login-security_update.blurred {
	background: rgba(255, 256, 255, .8);
	border-radius: 15px 0 0 15px;
	position: absolute;
	right: 0;
	width: 49%;
	height: auto;
	padding: 46px;
}

.login-security_topic {
	font-size: 16px;
	color: #19317a !important;
	width: 100%
}

.login-security_headline {
	font-size: 40px;
	color: #19317a;
	width: 100%
}

.login-page__v2 .login-security_desc {
	font-size: 12px;
	color: #000000;
	width: 100%
}

.login-security_desc {
	font-size: 12px;
	color: #000000;
	width: 100%
}

.login_lock img {
	width: 85px;
	height: 115px;
	margin-left: 10px;
	float: right;
	margin-top: 15px;
}

.login_lock1 {
	width: auto;
	height: auto;
	/* margin-left: 75px; */
	float: left;
}

.login_lock.ic {
	margin-top: 140px;
}

.login-security_headline {
	float: left;
}

.login-security-head {
	float: left;
	width: 75%;
}

@media only screen and (max-width: 768px) {	
	.login-page__v2 .login-security_update.blurred {
		width: 95%;
		position: relative;
		margin: 0 2.5%;
		border-radius: 15px;
	}
	.login-security-head {
		width: 100%;
	}
	.login_lock.ic {
		display: none;
		float: left;
		width: 100%;
		text-align: center;
		margin-top: 0;
	}
	.login_lock.ic img {
		float: auto;
	}
}


@media only screen and (min-width: 768px) and (max-width:1024px) {
	.login-page__v2 .login-security_update.blurred {
		position: relative;
		   float: left;
    width: 45%;
	}
	.login-security-head {
		width: 100%;
	}
	.login_lock.ic {
		display: none;
		
	}
	.login_lock.ic img {
		float: auto;
		display:none;
	}
}
